# Mailjet SMTP configuration
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=in-v3.mailjet.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_mailjet_smtp_user
EMAIL_HOST_PASSWORD=your_mailjet_smtp_password
DEFAULT_FROM_EMAIL=your_verified_sender@example.com
